@model Guildmate.Models.ViewModels.CharacterViewModels.CharacterCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div id="factionOptions">
                <div class="form-group">
                    <label asp-for="FactionId" class="control-label"></label>
                    <select asp-for="FactionId" class="form-control factionSelect" asp-items="@Model.FactionOptions"><option selected disabled>Choose A Faction</option></select>
                </div>
            </div>

            <div id="raceOptions">
                <div class="form-group">
                    <label asp-for="RaceId" class="control-label"></label>
                    <select asp-for="RaceId" class="form-control" asp-items="@Model.RaceOptions"><option selected disabled>Choose A Race</option></select>
                </div>
            </div>

            <div id="classOptions">

                    <div class="form-group" id="HumanId">
                        <label asp-for="ClassId" class="control-label"></label>
                        <select asp-for="ClassId" class="form-control" asp-items="@Model.ClassOptions"><option selected disabled>Choose A Class</option></select>
                    </div>
            </div>


                <input id="Button2" type="button" value="Clear" onclick="window.location.reload()" />

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*





@*<div class="form-group" id="HordeId">
            <label asp-for="RaceId" class="control-label"></label>
            <select asp-for="RaceId" class="form-control" asp-items="@Model.HordeRaceOptions"><option selected disabled>Choose A Race</option></select>
        </div>
    </div>*@



                    @*<div class="form-group" id="DwarfId">
                        <label asp-for="ClassId" class="control-label"></label>
                        <select asp-for="ClassId" class="form-control" asp-items="@Model.DwarfOptions"><option selected disabled>Choose A Class</option></select>
                    </div>

                    <div class="form-group" id="NightElfId">
                        <label asp-for="ClassId" class="control-label"></label>
                        <select asp-for="ClassId" class="form-control" asp-items="@Model.NightElfOptions"><option selected disabled>Choose A Class</option></select>
                    </div>

                    <div class="form-group" id="GnomeId">
                        <label asp-for="ClassId" class="control-label"></label>
                        <select asp-for="ClassId" class="form-control" asp-items="@Model.GnomeOptions"><option selected disabled>Choose A Class</option></select>
                    </div>

                    <div class="form-group" id="UndeadId">
                        <label asp-for="ClassId" class="control-label"></label>
                        <select asp-for="ClassId" class="form-control" asp-items="@Model.UndeadOptions"><option selected disabled>Choose A Class</option></select>
                    </div>

                    <div class="form-group" id="TaurenId">
                        <label asp-for="ClassId" class="control-label"></label>
                        <select asp-for="ClassId" class="form-control" asp-items="@Model.TaurenOptions"><option selected disabled>Choose A Class</option></select>
                    </div>

                    <div class="form-group" id="OrcId">
                        <label asp-for="ClassId" class="control-label"></label>
                        <select asp-for="ClassId" class="form-control" asp-items="@Model.OrcOptions"><option selected disabled>Choose A Class</option></select>
                    </div>

                    <div class="form-group" id="TrollId">
                        <label asp-for="ClassId" class="control-label"></label>
                        <select asp-for="ClassId" class="form-control" asp-items="@Model.TrollOptions"><option selected disabled>Choose A Class</option></select>
                    </div>
                </div>*@




























