@model Guildmate.Models.Character

@{
    ViewData["Title"] = "Index";
}

<h1>Character</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassRace.Race.Faction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassRace.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassRace.Class)
            </th>
                @if (Html.DisplayFor(modelItem => modelItem.Guild.Name) == null)
                {
                
                }else{
                    <th>
                        @Html.DisplayNameFor(model => model.Guild)
                    </th>
                }
            </tr>
    </thead>
    <tbody>
        <tr class="@Html.DisplayFor(model => model.ClassRace.Class.Name)Bg">
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ClassRace.Race.Faction.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ClassRace.Race.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ClassRace.Class.Name)
            </td>
            @if(Html.DisplayFor(modelItem => modelItem.Guild.Name) != null)
            {
            <td>
                @Html.DisplayFor(modelItem => modelItem.Guild.Name)
            </td>

            }
        </tr>

    </tbody>
</table>
