@using Microsoft.AspNetCore.Identity;

@model Guildmate.Models.Character
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Index";
}
<div class="CharacterIndex">

    <div class="Index-Title">
    <h1>My Character</h1>
    </div>

    @if(userManager.GetUserAsync(User).Result.Characters == null){ 
    <div class="jumbotron AllianceBgFull">
    <h1 class="display-3">Please Create A Character</h1>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-lg neutralButton" asp-action="Create">Create New Character</a>
    </p>
    </div>
        }else
        {

    <div class="characterCards">
    @foreach (var character in Model.ApplicationUser.Characters)
    {
        <div class="characterCard card border-@Html.DisplayFor(model => model.ClassRace.Race.Faction.Name) mb-3" style="max-width: 20rem;">
            <div class="card-header @Html.DisplayFor(model => model.ClassRace.Class.Name)Bg">
                <div>
                    <img src="~/Images/classIcons/@Html.DisplayFor(model => model.ClassRace.Class.Icon)" />
                </div>
                <div>
                    <h2>@Html.DisplayFor(modelItem => modelItem.Name)</h2>
                </div>
            </div>
            <div class="CharacterInfoText">
                <dl class="row">
                    <dd class="col-sm-8">
                        <div class="CharacterInfoLines">
                            <p>Faction:</p> @Html.DisplayFor(model => model.ClassRace.Race.Faction.Name)
                        </div>
                    </dd>
                    <dd class="col-sm-8">
                        <div class="CharacterInfoLines">
                            <p>Race:</p> @Html.DisplayFor(model => model.ClassRace.Race.Name)
                        </div>
                    </dd>
                    <dd class="col-sm-8">
                        <div class="CharacterInfoLines">
                            <p>Race:</p> @Html.DisplayFor(model => model.ClassRace.Class.Name)
                        </div>
                    </dd>
                    @if (Model.GuildId != null)
                    @*@if (Html.DisplayFor(modelItem => modelItem.Guild.Name) != null)*@
                    {
                        <dd class="col-sm-8">
                            <div class="CharacterInfoLines">
                                <p>Guild:</p> @Html.DisplayFor(model => model.Guild.Name)
                            </div>
                        </dd>
                    }
                    else
                    {
                        <dd class="col-sm-8 guildBtn">
                            <div class="guildbtn">
                                <a class="btn CharacterGuildBtn btn-primary" role="button" asp-area="" asp-controller="Guilds" asp-action="Details">Join a Guild</a>
                            </div>
                        </dd>
                            }
                    </dl>
            </div>
            </div>
    }
    </div>

    }

</div>
