@using Microsoft.AspNetCore.Identity;

@model Guildmate.Models.Event
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Details";
}
    <div class="EventDetails">
        <div class="eventInfoCard">
            <div class="eventInfoHeader">
                <h1>Event Details</h1>
            </div>
            <div class="eventInfo">
                <div class="EventInfoText">
                    <dl class="row">
                        <dd class="col-sm-8">
                            <div class="eventInfoLines">
                                <p>Event:</p> @Html.DisplayFor(model => model.Name)
                            </div>
                        </dd>
                        <dd class="col-sm-8">
                            <div class="eventInfoLines">
                                <p>Start:</p> @Html.DisplayFor(model => model.StartDate)
                            </div>
                        </dd>
                        @if(Model.EndDate != null)
                        {
                        <dd class="col-sm-8">
                            <div class="eventInfoLines">
                                <p>End</p> @Html.DisplayFor(model => model.EndDate)
                                </div>
                            </dd>
                        }
                        <dd class="col-sm-8">
                            <div class="eventInfoLines">
                                <p>Max Attendees:</p> @Html.DisplayFor(model => model.MaxAttendees)
                            </div>
                        </dd>
                        <dd class="col-sm-8">
                            <div class="eventInfoLines">
                                <p>Current Attendees:</p> @Model.CharacterEvents.Count()
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

            @if (userManager.GetUserAsync(User).Result.Characters.FirstOrDefault(c => c.RankId == 1) != null)
            {
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.EventId">Edit</a> |
                    <a asp-action="Index">Back to Events</a>
                </div>
            }


    <div class="EventRoster eventRosterCard">
        <div class="eventRosterHeader">
            <h3>Event Roster</h3>
            <a class="btn btn-primary" asp-action="AttendEvent" asp-route-eventId="@Model.EventId" asp-controller="CharacterEvents">Attend Event</a>
                <input type="hidden" value="@Model.EventId" name="eventId" />
            </a>
        </div>
            <div class="roster">
                <table class="table">
                    <tbody>
                        @foreach (var character in Model.CharacterEvents)
                        {
                        <tr class="@Html.DisplayFor(item => character.Character.ClassRace.Class.Name)Bg">
                            <td class="tableRoleIcons">
                                <img src="~/Images/roleIcons/@Html.DisplayFor(item => character.Role.Icon)" />
                            </td>
                            <td>
                                @Html.DisplayFor(item => character.Character.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(item => character.Character.ClassRace.Class.Name)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
