 @using Microsoft.AspNetCore.Identity;

@model Guildmate.Models.Guild
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Details";
}


<div class="GuildDetails">
    <div class="guildInfoCard">
        <div class="guildInfoHeader">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
        </div>

        <div class="GuildInfo">
                <span class="guildFactionLogo">
                    <img src="~/Images/@Html.DisplayFor(model => model.Faction.Name)Round.png" />
                </span>
            <div class="GuildInfoText">
                <dl class="row">
                    <dd class="col-sm-8">
                        <div class="guildInfoLines">
                            <p>Server:</p> @Html.DisplayFor(model => model.Server.Name)
                        </div>
                    </dd>
                    <dd class="col-sm-8">
                        <div class="guildInfoLines">
                            <p>Guild Members:</p> @Model.Characters.Count()
                        </div>
                    </dd>
                </dl>

            </div>
        </div>

    </div>

    <div class="GuildRoster guildRosterCard">
        <div class="guildRosterHeader">
            <h3>Guild Roster</h3>
        </div>
        <div class="roster">
            <table class="table">
                <tbody>
                    @if (userManager.GetUserAsync(User).Result.Characters.FirstOrDefault(c => c.RankId == 1) != null)
                    {
                        @foreach (var character in Model.Characters)
                        {
                    <tr class="@Html.DisplayFor(item => character.ClassRace.Class.Name)Bg">
                        <td class="tableClassIcons">
                            <img src="~/Images/classIcons/@Html.DisplayFor(item => character.ClassRace.Class.Icon)" />
                        </td>
                        <td>
                            @Html.DisplayFor(item => character.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(item => character.ClassRace.Race.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(item => character.Rank.Name)
                        </td>
                        @if (character.RankId == 1)
                        {
                            <td>
                                <form asp-action="DeleteGuild" asp-route-id="@Model.GuildId">
                                    <input type="submit" value="Delete Guild" />
                                </form>
                            </td>
                        }
                        @if (character.RankId == 2)
                        {
                            <td>
                                <form asp-action="RemoveFromGuild" asp-route-id="@character.CharacterId" asp-controller="Characters">
                                    <input type="hidden" value="@character.CharacterId" name="CharacterId" />
                                    <input type="submit" value="Remove From Guild" />
                                </form>
                            </td>
                        }
                    </tr>
                        }
                    }
                    else
                    {
                        @foreach (var character in Model.Characters)
                        {
                <tr class="@Html.DisplayFor(item => character.ClassRace.Class.Name)Bg">
                    <td class="tableClassIcons">
                        <img src="~/Images/classIcons/@Html.DisplayFor(item => character.ClassRace.Class.Icon)" />
                    </td>
                    <td>
                        @Html.DisplayFor(item => character.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(item => character.ClassRace.Race.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(item => character.Rank.Name)
                    </td>
                </tr>
                        }
                     }
                </tbody>
            </table>
        </div>
    </div>
</div>
